@model IEnumerable<Biblioteca.Models.Plano>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/_ListStyle.css" />

<h1>Listagem de Planos</h1>
<p>
    <a asp-action="Create" class="add-new">Adicionar Novo Plano</a>
</p>
<div class="table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ValorMensal)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.LimiteEmprestimosMensais)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.PrazoDevolucaoDias)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.TaxaAtrasoDiariaPercentual)
                </th>
                <th scope="col" class="text-right">
                    <span>Ações</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td class="font-medium">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ValorMensal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LimiteEmprestimosMensais)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrazoDevolucaoDias)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TaxaAtrasoDiariaPercentual)
                    </td>

                    <td class="text-right">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="action-link edit">Editar</a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="action-link details">Detalhes</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="action-link delete">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>


</div>
