@model IEnumerable<Biblioteca.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}
<link rel="stylesheet" href="~/css/_ListStyle.css" />
<h1>Listagem de Funcionários</h1>

<p>
    <a asp-action="Create" class="add-new">Adicionar Novo Funcionário</a>
</p>


<div class="table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Matricula)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Cargo)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th scope="col" class="text-right">
                    <span>Ações</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="font-medium">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Matricula)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Cargo)
                        </td>
                        <td>
                            @(string.IsNullOrEmpty(item.Email) ? "N/A" : item.Email)
                        </td>
                        <td class="text-right">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="action-link edit">Editar</a>
                            <a asp-action="Details" asp-route-id="@item.Id" class="action-link details">Detalhes</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="action-link delete">Excluir</a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="7" class="text-center text-sm text-gray-500 py-4">Nenhum funcionário encontrado. Adicione um novo funcionário!</td>
                </tr>
            }
        </tbody>
    </table>
    <div class="fixed-bottom-right">
        <a asp-action="Index" class="btn-back">
            Voltar
        </a>
    </div>
</div>

@* 
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Endereco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Salario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cpf)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Endereco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Telefone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
 *@