@model IEnumerable<Biblioteca.Models.Assinatura>

@{
    ViewData["Title"] = "Listagem";
}
<link rel="stylesheet" href="~/css/_ListStyle.css" />
<h1>Listagem de Assinaturas</h1>
<p>
    <a asp-action="Create" class="add-new">Nova Assinatura</a>
</p>
<div class="table-container">
    <table class="data-table">
        <thead>
            <tr>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Usuario)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Plano)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.FuncionarioResponsavel)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DataInicio)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.DataFim)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(model => model.Ativa)
                </th>
                <th scope="col" class="text-right">
                    <span>Ações</span>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Usuario.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Plano.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuncionarioResponsavel.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataInicio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataFim)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ativa)
                    </td>
                    <td class="text-right">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="action-link edit">Editar</a> |
                        <a asp-action="Details" asp-route-id="@item.Id" class="action-link details">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="action-link delete">Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>
