@model Biblioteca.Models.Emprestimo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Emprestimo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exemplar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exemplar.CodigoInventario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuncionarioResponsavel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuncionarioResponsavel.Cpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataEmprestimo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataEmprestimo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucaoPrevista)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucaoPrevista)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataDevolucaoReal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataDevolucaoReal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MultaPaga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MultaPaga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Devolvido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Devolvido)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
